.header {
  background: #264859 url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 880px; //временно
  .main-menu {
    margin-top: 10px;
  }
}





.services {
  padding: 65px 0;
}
