.header {
  background: #264859 url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 880px; //временно

  .main-menu {
    margin-top: 25px;
  }


  &__inner {
    max-width: 705px;
    padding-top: 100px;
    text-align: left;
    color: $white;

  }

  &__title {

    @include cormorant-regular;
    font-size: 65px;
    line-height: 79px;

    span {
      display: block;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__description {
    margin-top: 40px;
    @include cormorant-regular;
    font-size: 30px;
    line-height: 40px;
  }

  &__link {
    display: inline-block;
    margin-top: 55px;
    padding: 21px 36px;
    background-color: #709DA0;
    color: $white;
    @include ptsans-bold;
    font-size: 24px;
    line-height: 31px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #3F888F;
    }
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none;
}

.swiper-pagination {
  display: none;
}

.swiper-pagination-bullet-active {
  background: $green;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.services {
  padding: 75px 0 0;

  .main-subtitle {
    text-align: center;
  }

  .swiper-services {
    margin-top: 45px;

  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 62px;
    height: 62px;
    top: 35%;

    &:hover {
      svg {
        path {
          transition: all .3s;
          stroke: $dark-green;
        }
      }
    }
  }

  .swiper-image {
    margin: auto;
    max-width: 910px;
    min-height: 235px;
    position: relative;

    img {
      width: 100%;
    }
  }

  .swiper-subtitle {
    width: 100%;
    min-height: 90px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;


    h3 {
      max-width: 455px;
      @include cormorant-regular;
      font-size: 32px;
      line-height: 34px;
      font-weight: 700;
      text-align: center;
      color: $dark-green;
    }
  }

  &__list {
    max-width: 710px;
    margin: 0 auto;
    padding: 20px 0 0 15px;
    position: relative;

    li {
      color: $dark-green;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 226px;
      height: 1px;
      background-color: #A8B6BD;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}


.maps {
  background-image: url('../img/maps.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
  min-height: 910px;
  padding-top: 20px;

  .container {
    min-height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-subtitle {
    text-align: left;
  }

  &__description {
    margin-top: 30px;
    @include cormorant-regular;
    color: $dark-green;
    max-width: 400px;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
  }
}

.features {
  .container {
    padding: 75px 15px 60px;
  }

  .swiper-features {
    max-width: 1150px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 46px;

    &::before {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='87' height='68' viewBox='0 0 87 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M38.6 51.6001C38.6 56.6001 37 60.5 33.7 63.5C30.4 66.4 26.3 67.8999 21.2 67.8999C15.3 67.8999 10.4 65.9 6.60001 62C2.80001 58.1 0.899994 52.4 0.899994 44.8C0.899994 37.6 1.9 31.4999 4 26.3999C6.1 21.2999 8.60001 16.9999 11.6 13.3999C14.6 9.7999 17.6 7.00005 20.8 4.80005C24 2.60005 26.8 1.09995 29.2 0.199951L37.3 11.6001C32.5 14.0001 28.6 17.2 25.7 21.2C22.7 25.2 21.3 30.3 21.3 36.3C22.2 36.1 23.4 36 24.9 36C29.3 36 32.7 37.5001 35.1 40.6001C37.4 43.5001 38.6 47.2001 38.6 51.6001ZM86.1 51.6001C86.1 56.6001 84.5 60.5 81.2 63.5C77.9 66.4 73.8 67.8999 68.7 67.8999C62.8 67.8999 57.9 65.9 54.1 62C50.3 58.1 48.4 52.4 48.4 44.8C48.4 37.6 49.4 31.4999 51.5 26.3999C53.6 21.2999 56.1 16.9999 59.1 13.3999C62.1 9.7999 65.1 7.00005 68.3 4.80005C71.5 2.60005 74.3 1.09995 76.7 0.199951L84.8 11.6001C80 14.0001 76.1 17.2 73.1 21.2C70.1 25.2 68.7 30.3 68.7 36.3C69.6 36.1 70.8 36 72.3 36C76.7 36 80.1 37.5001 82.5 40.6001C84.9 43.5001 86.1 47.2001 86.1 51.6001Z' fill='%23EAEDEE'/%3e%3c/svg%3e ");
      min-width: 95px;
      padding-right: 20px;
      height: 80px;
      position: absolute;
      left: 20px;
      top: 0;
      background-color: $white;
      background-position: left center;
      z-index: 2;
    }
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-slide {
    padding: 0 15px 0 63px;
    box-sizing: border-box;
    text-align: left;
    max-height: 340px;

    p {
      margin: auto;
    }

    .swiper-person {
      margin-top: 27px;
      line-height: 23px;
    }
  }

  .swiper-slide-active {
    max-height: 100%;
    min-height: max-content;
  }

  .swiper-border {
    padding: 55px 50px 55px 65px;
    border: 1px solid $dark-green;

  }

  .swiper-desc {
    @include cormorant-regular;
    color: $dark-green;
    font-size: 33px;
    line-height: 35px;
  }

  .swiper-button-block {
    width: 180px;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    background: $white;
    position: absolute;
    right: -30px;
    bottom: 30px;
    z-index: 25;

    .swiper-button-next,
    .swiper-button-prev {
      width: 46px;
      height: 46px;
      margin: 0;
      position: static;

      &:hover {
        svg {
          path {
            transition: all .3s;
            fill: $dark-green;
          }
        }
      }
    }

    .swiper-button-next {
      margin-left: 25px;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 1;
    }
  }

}

.command {
  background-color: #F6F6F6;

  .container {
    padding-top: 48px;
    padding-bottom: 35px;
  }

  &__title {
    @include cormorant-bold;
    color: $dark-green;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
  }

  .swiper-command {
    margin-top: 36px;
    padding: 0 50px;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-card {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .swiper-image {
    width: 170px;
    height: 170px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .swiper-title {
    margin-top: 25px;
    @include cormorant-bold;
    color: $dark-green;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .swiper-subtitle {
    margin-top: 5px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 53px;
    height: 53px;
    top: calc(50% - 57px);

    &:hover {
      svg {
        path {
          transition: all .3s;
          fill: $dark-green;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }
}

.projects {
  .container {
    padding-top: 85px;
    padding-bottom: 120px;
  }

  .main-subtitle {
    text-align: center;
  }

  .swiper-projects {
    margin-top: 50px;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-slide {
    max-width: 910px;
    margin: 0 auto;
    text-align: center;
  }

  .swiper-image {
    height: 493px;
    margin: 0 auto 100px;
    position: relative;

  }

  .swiper-title-wrapper {
    width: 677px;
    padding-top: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -75px;
    background-color: $white;
  }

  .swiper-title {
    @include cormorant-bold;
    color: $dark-green;
    font-size: 32px;
    line-height: 34px;
    text-align: center;

    &::after {
      content: '';
      display: block;
      width: 150px;
      height: 1px;
      background-color: $gray;
      margin: 28px auto;
    }
  }

  .swiper-date {
    @include cormorant-regular;
    color: $text-green;
    font-size: 26px;
    line-height: 31px;
  }

  .swiper-description {
    text-align: left;
    color: $dark-green;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 61px;
    height: 61px;
    top: 35%;

    &:hover {
      svg {
        path {
          transition: all .3s;
          stroke: $dark-green;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }
}

.clients {
  background-color: #F6F6F6;

  .container {
    padding-top: 48px;
    padding-bottom: 35px;
  }

  &__title {
    @include cormorant-bold;
    color: $dark-green;
    font-size: 43px;
    line-height: 52px;
    text-align: center;
  }

  .swiper-clients {
    margin-top: 36px;
    padding: 0 50px;
  }

  .swiper-image {
    width: 170px;
    height: 170px;
    margin: 0 auto;

    img {
      width: 100%;
      display: block;
      margin: 0 auto;

    }
  }

  .swiper-title {
    margin-top: 25px;
    @include cormorant-bold;
    color: $dark-green;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 53px;
    height: 53px;


    &:hover {
      svg {
        path {
          transition: all .3s;
          fill: $dark-green;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }

}

.contact-us {
  padding: 80px 0 95px;

  .main-subtitle {
    text-align: center;
    margin-bottom: 45px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__choice {
    width: 49%;
  }

  &__choice-controllers {
    display: flex;
  }

  &__choice-btn {
    @include cormorant-bold;
    font-size: 32px;
    line-height: 39px;
    width: 50%;
    padding: 6px 0;
    border: none;
    border-radius: 30px;
    background: $gray-bg;
    color: $text-green;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      color: $green;
    }

    &:first-child {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 40px;
        right: -20px;
        z-index: -1;
        height: 51px;
        top: 50%;
        background: $gray-bg;
        transform: translateY(-50%);
      }
    }

    &.contact-us__choice-btn_active {
      background: $green;
      color: $white;
      pointer-events: none;
    }
  }

  &__choice-item {
    display: none;

    &.contact-us__choice-item_active {
      display: block;
    }
  }

  &__choice-map {
    margin-top: 16px;
    margin-bottom: 8px;
  }

  &__choice-address {
    text-align: center;
    color: $dark-green;
  }


  &__form {
    width: 48.5%;
  }

  &__form-btn {
    @include ptsans-bold;
    color: $white;
    padding: 20px 53px;
    background: #709DA0;
    border: none;
    cursor: pointer;
    transition: all .3s;
    margin-top: 40px;


    &:hover {
      background: $green;
    }
  }

  .custom-checkbox {
    margin-top: 10px;
  }

  .b24-form {
    width: 48.5%;
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .b24-form-content {
    padding: 0;
  }

  .b24-form-wrapper.b24-form-border-bottom {
    border-bottom: none;
  }

  .b24-form-header.b24-form-padding-side {
    display: none;
  }

  .b24-form-control-string .b24-form-control, .b24-form-control-list .b24-form-control,
  .b24-form-control-text .b24-form-control, .b24-form-control-select .field-item {
    background: #F6F6F6;
    padding: 14px 18px;
    width: 100%;
    border: none;
    outline: none;
    color: #3F888F;
    font-size: 18px;
    border-radius: 0;
  }

  .b24-form-control-icon-after .b24-form-control-label {
    padding: 0 18px;
  }

  .b24-form-control-string .b24-form-control:focus, .b24-form-control-list .b24-form-control:focus,
  .b24-form-control-text .b24-form-control:focus, .b24-form-control-select .field-item:focus {
    outline: 1px solid #77868E;
  }

  .b24-form-control-text .b24-form-control {
    height: 138px;
  }

  .b24-form-control-select-label, .b24-form-control:focus + .b24-form-control-label, .b24-form-control-not-empty + .b24-form-control-label {
    top: 0;
  }

  .b24-form-field-agreement .b24-form-control-container {
    display: flex;
  }

  .b24-form-field-agreement .b24-form-control-desc {
    display: inline-block;
    padding-left: 12px;
  }

  .b24-form-field-agreement .b24-form-control-desc, .b24-form-field-agreement .b24-form-field-agreement-link {
    font-size: 13px;
    line-height: 17px;
    opacity: 1;
    color: #A8B6BD;
  }

  [type=checkbox] {
    min-width: 22px;
    height: 22px;
  }

  .b24-form-btn-block {
    padding: 0;
    margin-top: 25px;
  }

  .b24-form-field-agreement .b24-form-control-required {
    color: inherit;

  }

  .b24-form-btn {
    width: 190px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    color: #ffffff;
    padding: 20px 53px;
    background: #709DA0;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0;
  }

  .b24-form-btn:hover {
    background-color: #3F888F;
  }

}

.license {
  padding: 30px 0 20px;
  background-color: $gray-bg;

  .secondarily-subtitle {
    margin-bottom: 25px;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    background-color: $white;
    padding: 24px 19px 15px;
    width: 32%;
    margin-bottom: 15px;


    &:not(:last-child) {
      margin-right: 34px;
    }

    h4 {
      @include cormorant-bold;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      margin-bottom: 23px;
      color: $text-green;
    }

    p {
      text-align: center;
    }
  }

}



