.header {
  background: #264859 url("../img/header-bg.jpg") no-repeat;
  background-size: cover;
  min-height: 880px; //временно

  .main-menu {
    margin-top: 10px;
  }




  &__inner {
    max-width: 705px;
    padding-top: 90px;
    text-align: left;
    color: $white;

  }

  &__title {

    @include cormorant-regular;
    font-size: 65px;
    line-height: 79px;

    span {
      display: block;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 36px;
    }
  }

  &__description {
    margin-top: 40px;
    @include cormorant-regular;
    font-size: 30px;
    line-height: 40px;
  }

  &__link {
    display: inline-block;
    margin-top: 55px;
    padding: 21px 36px;
    background-color: #709DA0;
    color: $white;
    @include ptsans-bold;
    font-size: 24px;
    line-height: 31px;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      background-color: #3F888F;
    }
  }
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: none;
}

.services {
  padding: 75px 0 0;

  .swiper-services {
    margin-top: 45px;

  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 62px;
    height: 62px;
    top: 35%;
    &:hover {
      svg {
        path {
          transition: all .3s;
          stroke: $dark-green;
        }
      }
    }
  }
  .swiper-image {
    margin: auto;
    max-width: 910px;
    position: relative;
    img {
      width: 100%;
    }
  }
  .swiper-subtitle {
    width: 667px;
    min-height: 90px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
    z-index: 5;

    h3 {
      max-width: 446px;
      @include cormorant-regular;
      font-size: 32px;
      line-height: 34px;
      text-align: center;
      color: $dark-green;
    }
  }

  &__list {
    max-width: 710px;
    margin: 47px auto 0;
    padding: 20px 0 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    li {
      list-style: disc;
      text-align: left;
    }

    &::before {
      content: '';
      display: flex;
      position: absolute;
      width: 226px;
      height: 1px;
      background-color: #A8B6BD;
      top: 0;
    }
  }
}


.maps {
  background-image: url('../img/maps.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 910px;
  padding-top: 20px;

  .container {
    min-height: 820px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .main-subtitle {

    text-align: left;

  }

  &__description {
    margin-top: 30px;
    @include cormorant-regular;
    color: $dark-green;
    max-width: 400px;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
  }
}


.features {
  .container {
    padding: 75px 15px 60px;
  }

  .swiper-features {
    max-width: 1150px;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-right: 46px;

    &::before {
      content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='87' height='68' viewBox='0 0 87 68' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M38.6 51.6001C38.6 56.6001 37 60.5 33.7 63.5C30.4 66.4 26.3 67.8999 21.2 67.8999C15.3 67.8999 10.4 65.9 6.60001 62C2.80001 58.1 0.899994 52.4 0.899994 44.8C0.899994 37.6 1.9 31.4999 4 26.3999C6.1 21.2999 8.60001 16.9999 11.6 13.3999C14.6 9.7999 17.6 7.00005 20.8 4.80005C24 2.60005 26.8 1.09995 29.2 0.199951L37.3 11.6001C32.5 14.0001 28.6 17.2 25.7 21.2C22.7 25.2 21.3 30.3 21.3 36.3C22.2 36.1 23.4 36 24.9 36C29.3 36 32.7 37.5001 35.1 40.6001C37.4 43.5001 38.6 47.2001 38.6 51.6001ZM86.1 51.6001C86.1 56.6001 84.5 60.5 81.2 63.5C77.9 66.4 73.8 67.8999 68.7 67.8999C62.8 67.8999 57.9 65.9 54.1 62C50.3 58.1 48.4 52.4 48.4 44.8C48.4 37.6 49.4 31.4999 51.5 26.3999C53.6 21.2999 56.1 16.9999 59.1 13.3999C62.1 9.7999 65.1 7.00005 68.3 4.80005C71.5 2.60005 74.3 1.09995 76.7 0.199951L84.8 11.6001C80 14.0001 76.1 17.2 73.1 21.2C70.1 25.2 68.7 30.3 68.7 36.3C69.6 36.1 70.8 36 72.3 36C76.7 36 80.1 37.5001 82.5 40.6001C84.9 43.5001 86.1 47.2001 86.1 51.6001Z' fill='%23EAEDEE'/%3e%3c/svg%3e ");
      min-width: 95px;
      padding-right: 20px;
      height: 80px;
      position: absolute;
      left: 20px;
      top: 0;
      background-color: $white;
      background-position: left center;
      z-index: 2;
    }
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-slide {
    padding: 0 15px 0 63px;
    box-sizing: border-box;
    text-align: left;
    max-height: 340px;
    overflow-y: hidden;

    p {
      margin: auto;
    }

    .swiper-person {
      margin-top: 27px;
      line-height: 23px;
    }
  }

  .swiper-slide-active {
    max-height: 100%;
    min-height: max-content;
    overflow: visible;
  }

  .swiper-border {
    padding: 55px 50px 55px 65px;
    border: 1px solid $dark-green;

  }

  .swiper-desc {
    @include cormorant-regular;
    color: $dark-green;
    font-size: 33px;
    line-height: 35px;
  }

  .swiper-button-block {
    width: 180px;
    height: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    background: $white;
    position: absolute;
    right: -30px;
    bottom: 30px;
    z-index: 25;

    .swiper-button-next,
    .swiper-button-prev {
      width: 46px;
      height: 46px;
      margin: 0;
      position: static;

      &:hover {
        svg {
          path {
            transition: all .3s;
            fill: $dark-green;
          }
        }
      }
    }

    .swiper-button-next {
      margin-left: 25px;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      opacity: 1;
    }
  }

}

.command {
  background-color: #F6F6F6;

  .container {
    padding-top: 48px;
    padding-bottom: 55px;
  }

  &__title {
    @include cormorant-bold;
    color: $dark-green;
    font-size: 43px;
    line-height: 52px;
  }

  .swiper-command {
    margin-top: 36px;
    padding: 0 30px;
  }

  .swiper-wrapper {
    box-sizing: border-box;
  }

  .swiper-card {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiper-image {
    width: 130px;
    height: 130px;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .swiper-title {
    margin-top: 15px;
    @include cormorant-bold;
    color: $dark-green;
    font-size: 25px;
    line-height: 30px;
  }

  .swiper-subtitle {
    margin-top: 5px;
    font-size: 16px;
    line-height: 21px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 53px;
    height: 53px;
    top: calc(50% - 57px);

    &:hover {
      svg {
        path {
          transition: all .3s;
          fill: $dark-green;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 0;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 0;
  }

}
