@media (max-width: 1024px) {

  .job-request-page__main {
    padding: 50px 0 100px;
  }

  .job-request-page__file h4 {
    font-size: 16px;
  }
}

@media (max-width: 850px) {
  .job-request-page__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .job-request-page__top a {
    margin-bottom: 20px;
  }

  .job-request-page h1 {
    padding-right: 0;
    align-self: center;
  }

  .job-request-page__top {
    margin-bottom: 50px;
  }

}

@media (max-width: 768px) {
  .job-request-page h1 {
    font-size: 55px;
    line-height: 55px;
  }
}
