@media (max-width: 1500px) {
  .header.home-header {
    background-position-x: center;
  }

  .maps {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .maps {
    background-position-x: 26%;
  }
}

@media (max-width: 1024px) {
  .header.home-header {
    background-position-x: left;
  }

  .header__title {
    font-size: 50px;
  }

  .features .swiper-button-block,
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next,
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    display: none;
  }

  .swiper-services {
    padding-bottom: 35px;
  }

  .swiper-pagination {
    display: block;
  }

  .command .swiper-command {
    padding-bottom: 25px;
  }

  .projects .container {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .projects .swiper-projects {
    padding-bottom: 25px;
  }

  .projects .swiper-title-wrapper {
    position: static;
    transform: translateX(0);
    width: 100%;
    padding-top: 15px;
  }

  .projects .swiper-title::after {
    margin: 15px auto 5px;
  }

  .projects .swiper-date {
    margin-bottom: 15px;
  }

  .projects .swiper-image {
    margin-bottom: 0;
    width: 100%;
    height: auto;
  }

  .clients .swiper-clients {
    padding-bottom: 25px;
  }

  .contact-us {
    padding: 50px 0;
  }

  .contact-us .main-subtitle {
    margin-bottom: 30px;
  }

  .contact-us__choice-btn {
    font-size: 25px;
    line-height: 35px;
    padding: 4px 0;
    border-radius: 30px;
  }

  .contact-us__choice-btn:first-child::after {
    height: 43px;
  }

  .license__list-item:not(:last-child) {
    margin-right: 15px;
  }

  .license__list-item h4 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .license__list-item p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 992px) {
  .maps {
    background-position-x: 32%;
  }
}

@media (max-width: 768px) {
  .services .swiper-subtitle {
    position: static;
    transform: translateX(0);
    width: 100%;
  }

  .services__list {
    margin-top: 0;
  }

  .maps {
    background-position-x: 0;
    background-size: 350%;
  }
  .maps .container {
    align-items: center;
  }

  .maps__description {
    max-width: 330px;
    font-size: 26px;
  }

  .features .container {
    padding-bottom: 20px;
  }

  .features .swiper-desc {
    font-size: 26px;
  }


  .projects .swiper-date {
    margin-top: 20px;
  }

  .contact-us__inner {
    flex-direction: column;
    align-items: center;
  }

  .contact-us__choice {
    width: 100%;
    margin-bottom: 40px;
  }

  .contact-us__choice-img {
    img {
      min-width: 100%;
    }
  }

  .contact-us__form {
    width: 100%;
  }

  .license__list {
    flex-direction: column;
  }

  .license__list-item:not(:last-child) {
    margin-right: 0;
  }

  .license__list-item {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .header__title {
    font-size: 40px;
    line-height: 50px;
  }

  .header__title span,
  .header__description {
    font-size: 22px;
  }

  .header__link {
    font-size: 18px;
  }

  .maps,
  .maps .container {
    min-height: 650px;
  }

  .features .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .features .swiper-features {
    padding-right: 0;
  }

  .features .swiper-border {
    padding: 20px;
  }

  .features .swiper-features::before {
    display: none;
  }

  .features .swiper-slide {
    padding: 0;
  }

}

@media (max-width: 400px) {

  .maps,
  .maps .container {
    min-height: 440px;
  }
}
